
.container-1{
    background-color:  rgb(61, 58, 58);
   margin-top: 0px;
   padding-top: 100px;
   padding-inline-start: 0px;
   padding-inline: 100px;  
}

.row-1{
    background-color: rgb(61, 58, 58);
    padding: 150px;
    justify-items: center;
    color: white;
}
.container-2{
    justify-items: center;
    margin-top: 100px;
    padding-bottom: 100px;
    border-bottom: solid 1px;
}
.image{
    margin-top: 50px;
    justify-items: center;
    margin-left: 150px;
}
.container-3{
    margin-top: 100px;
    
}
.text{
    margin-top: 90px;
    margin-left: 150px;
    justify-items: center;
}
.img-fluid{
    margin-right: 90px;
    
}
.container-3{
    border-bottom: solid 1px;
    border-color: rgb(168, 161, 161);
    margin-top: 50px;
    padding-bottom: 100px;
    
}
.container-4{
    border-bottom: solid 1px;
    border-color: rgb(168, 161, 161);
    margin-top: 50px;
    padding-bottom: 100px;
    
}
.container-5{
    border-bottom: solid 1px;
    border-color: rgb(168, 161, 161);
    margin-top: 50px;
   padding-bottom: 100px;
    
}
.carousel-item{
   padding-top: 50px;
   height: 500px;
   justify-items: center;
  
}